<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Secret Share</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
</head>
<body>

    <h1>Secret Share</h1>

    {% if error %}
        <p>{{ error }}</p>
    {% else %}
        {% if secret %}
            <p>Your secret is<br />: {{ secret }}</p>
        {% else %}
            <p id="slogan">A website for securely sharing secrets.</p>
            {% if link %}
                <p>The link to your secret is : <br /><a href={{ link }}>{{ link }}</a></p>
            {% else %}
                <br/>
                <form action="/sharesecret" method="post">
                  <div class="form-group">
                    <label for="exampleFormControlTextarea1">Input Your Secret Here:</label>
                      <br />
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="secret"></textarea>
                      <br />
                    <input type="submit" value="Submit Secret">
                  </div>
                </form>
            {% endif %}
        {% endif %}
    {% endif %}

</body>
</html>