body {
    background-color: #212121;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    height: 100vh;
    weight: 100%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 7vh;
    margin-bottom: 10px;
}

#slogan{
    font-size: 1.75vh;
    margin-bottom: 7vh;
    margin-top: 0;
}

a {
    color: cyan;
}

input {
    width: 20vh;
    height: 4vh;
    border-radius: 8px;
}

textarea {
    margin: 1em 0;
    width: 60vh;
    height: 12vh;
}