body {
    background-color: #212121;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    height: 100vh;
    weight: 100%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

h1 {

}

a {
    color: cyan;

}

p {

}